body{
    background-color: #121212;
    color:white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 1rem;
}

p {
    font-family: "Kanit", sans-serif;
}

.galeria {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}


h1,h2{
    text-align: center;
}

.album{
    background-color: #1e1e1e;
    border-radius: 12px;
    width: 220px;
    padding: 1rem;
    text-align: center;
    color:white;
    transition: transform 0.3s;
    position: relative;
}

.album:hover{
    transform: scale(1.05);
}

.album img{
    width: 100%;
    max-height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.btn-escuchar {
    position: absolute;
    top: 10px;
    right: 10px; 
    background-color: #1db954;
    color: white;
    padding: 6px 12px;
    border-radius: 5px;
    box-shadow: 0 2px 5px 
    rgba(0,0,0,0.3);
    opacity: 0;
    pointer-events: none;
    transition: background-color 0.3s;
}

.btn-escuchar:hover{
    background-color: #1ed760;
}

.album:hover .btn-escuchar {
  opacity: 1;
  pointer-events: auto;
}
